body{
  margin:-8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #D3D3D3;
}

.centered-flex-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  scroll-behavior: smooth;
}

.italic{
  font-style: italic;
}


.contact-sidebar-hidden{
  position: fixed;
  right:20px;
  top: 50vh;
  transform: translate(5vw,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  transition: transform 0.3s;
  padding:7px;
  border: 1px solid white;
  border-radius: 7px;
}

.contact-sidebar-visible{
  position: fixed;
  right:20px;
  top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  transform: translate(0,-50%);
  transition: transform 0.3s;
  padding:7px;
  border: 1px solid white;
  border-radius: 7px;
}


.contact-sidebar-visible svg,.contact-sidebar-hidden svg{
  width: 30px;
  opacity: 0.5;
}

.contact-sidebar-visible svg:hover,.contact-sidebar-hidden svg:hover{
  opacity: 1;
}

.contact-sidebar-hover-item{
  position: relative;
  display: flex;
  align-items: center;
}

.contact-sidebar-hover-item span{
  position: absolute;
  right:45px;
  font-size: 12px;
  text-wrap: nowrap;
  visibility: hidden;
}

.contact-sidebar-hover-item:hover span{
  visibility: visible;
}

.header{
  display: flex;
  gap: 30px;
  padding:20px;
  position: fixed;
  top:0;
  right:0;
  left:0;
  backdrop-filter: blur(5px);
  animation: entranceDown 1s;
}

.header-item{
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color:inherit;
  transition: all 1s;
  padding: 5px;
  border-radius: 5px;
}

.header-item:hover{
  background-color: #7C8FA6;
}

@media only screen and (max-width: 600px) {
  .header-item{
    font-size:20px;
  }
}

.about{
  padding:0px 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: #4c5c70;
  height: 100vh;
}

.about-photo{
  height: 25vw;
  width: auto;
  animation: entranceRight 2s;
}

.about-item{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content:  center;
}

.about-left-side{
  padding-left:80px;
}

.name{
  font-size: 4vw;
  font-weight: 800;
  margin-bottom: 20px;
  animation-name:entranceLeft;
  animation-duration: 2s;
}

.about-text{
  text-align: justify;
  animation: entranceLeft 2s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

@media only screen and (max-width:700px){
  .about-text{
    font-size: 12px;
  }
}

.about-svg{
  display:flex;
  column-gap: 15px;
  justify-content: center;
  margin-top: 10px;
  animation:entranceLeft 2s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  position: relative;
}

.about-svg svg{
  height:25px;
  opacity: 0.5;
  fill:#4c5c70;
}

.about-svg svg:hover{
  opacity: 1;
}

.about-svg-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-svg-item div{
  position: absolute;
  visibility: hidden;
  top:33px;
  background-color: #61758E;
  font-size: 14px;
  padding:5px;
  border-radius: 15px;
}

.about-svg-item:hover div{
  visibility: visible;
}

.logo-dowload d{
  fill: white;
  stroke: white;
}

.education-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:20px;
  background-color: #61758E;
  view-timeline: --test block;
}

.education-item-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:50px;
}

@media only screen and (max-width:700px){
  .education-item-container{
    font-size: 12px;
  }
}

.education-item{
  border: 5px solid white;
  border-radius: 10px;
  padding:15px;
  animation: entranceDown 2s;
}

.education-item-top>h3,p{
  display: inline;
}

.education-item-duration{
  margin-left: 20px;
}

.education-item-location{
  margin:5px 0px;
}

.skills-learned-list{
  margin:5px -20px;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  background-color: #4c5c70;
}

.project-item-h2{
  margin-bottom: 3px;
}


.project-item-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;
}

.project-image-slider{
  width: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.project-image-slides{
  width: 600px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.project-image-slides::-webkit-scrollbar{
  background-color:#4c5c70;
}


.project-image-slides::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 10px;
}

.project-image{
  width:600px;
  border-radius: 10px;
  scroll-snap-align: start;
  margin-right: 20px;
}

.project-item-name-tech{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item-tech-container{
  display: flex;
  column-gap: 5px;
}

.project-item-tech-logo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item-tech-logo>svg{
  height: 35px;
  opacity: 0.5;
  position: relative;
}

.project-item-tech-logo>svg:hover{
  opacity: 1;
}

.project-item-tech-logo .logo-text{
  visibility: hidden;
  background-color: #61758E;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  font-size: 10px;
  top:40px;
}

.project-item-tech-logo:hover .logo-text{
  visibility: visible;
}

.anchor-container{
  display: flex;
  margin-top: 5px;
}

.project-item-a, .project-item-a:visited{
  text-decoration: none;
  color: #D3D3D3;
  margin-right: 5px;
}

.project-item-a:hover{
  color:white;
}

.anchor-div>svg{
  height: 13px;
  fill: #4c5c70;
}

@media only screen and (max-width:700px) {
  .project-image{
    width: 350px;
  }

  .project-image-slider{
    width: 350px;
  }

  .project-image-slides{
    width: 350px;
  }

  .project-item{
    width: 350px;
    font-size: 12px;
  }
  .project-item-tech-logo>svg{
    height: 25px;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61758E;
  color:white;
  height:5rem;
  font-size: 10px;
}

@keyframes entranceLeft{
  from{
    transform: translateX(-30vw);
    opacity: 0%;
  }
  to{
    transform: translate(0);
    opacity: 100%;
  }
}

@keyframes entranceRight {
  from{
    transform: translate(30vw);
    opacity: 0%;
  }
  to{
    transform: translate(0,inherit);
    opacity: 100%;
  }
}

@keyframes entranceDown {
  from{
    transform: translateY(-2vw);
    opacity: 0%;
  }
  to{
    transform: translate(0);
    opacity: 100%;
  }
  
}
